<div class="iron-header-title">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="head-title iron-title mb-0 pb-xs-5">
          <h4 class="d-inline">
            <fa-icon [icon]="['fas', 'chart-line']" style="margin-right: 5px;"></fa-icon>Dashboard
          </h4>
          <div class="float-right ">
            <button class="btn btn-dark px-2 py-0" ngbPopover="Back to previous page" triggers="mouseenter:mouseleave"
              [routerLink]="['/home']">
              <fa-icon [icon]="['fas', 'arrow-circle-left']"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron dashboard">
    <div class="text-center">
      <img class="d-none d-lg-inline d-xl-inline" style="margin-top: 3%; margin-bottom: 1%;"
        src="assets/images/user-chart-1.webp" height="350" alt="">
    </div>
  </div>
  <div class="jumbotron dashboard">
    <div class="float-left">
      <img class="d-none d-lg-inline d-xl-inline" style="margin-top: 3%; margin-bottom: 1%;"
        src="assets/images/user-chart-2.png" height="350" alt="">
    </div>
  </div>
  <div class="jumbotron dashboard" style="margin-left: 10px; margin-top: 2%">
    <div class="float-right">
      <img class="d-none d-lg-inline d-xl-inline" style="margin-top: 3%; margin-bottom: 1%;"
        src="assets/images/user-chart-3.png" height="290" alt="">
    </div>
  </div>
</div>
