/* pagination graphic style */
ngb-pagination /deep/ .page-item.disabled .page-link {
  color: #d3d3d3 !important;
  background-color: #ffffff !important;
  border: 0;
}

ngb-pagination /deep/ .page-link:hover {
  z-index: 2;
  color: #343a40 !important;
  background-color: #f2f2f2 !important;
  border: 0;
}

ngb-pagination /deep/ .page-item.active .page-link {
  color: black;
  background-color: #f2f2f2 !important;
  border-color: slategray;
  border: 0;
}

ngb-pagination /deep/  .page-link {
  background-color: #ffffff;
  color: #343a40;
  border: 0;
}

@media (min-width: 1164px) {
  .sticky-offset-toolbar {
    position: sticky;
    top: 90px;
    z-index: 10;
  }
}
